body {
  padding: 50px;
  font: 14px Futura, "Franklin Gothic", Helvetica, Arial, sans-serif;
  width: 650px;
  margin: 30px auto;
  background-color: #2f6fad;
}
form {
  display: block;
  padding: 50px;
  background-color: azure;
}
#submit {
  padding: 5px;
  border-radius: 5px;
}
#title, #runtime, #rating, h3 {
  display: block;
}
h3{
  padding-top: 20px;
}
